<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'works/style.css' %}">
    <link rel="shortcut icon" type="image/png" href='{% static "works/favicon.png" %}'>
</head>

<body>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!--Навигационная панель-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'works:home' %}"><img src='{% static "works/dsw_logo_transparent.png" %}' width="70"/></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link" href="{% url 'works:catalog' %}">{% trans "Каталог" %}</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'works:bio' %}">{% trans "Творчество" %}</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'works:about' %}">{% trans "О проекте" %}</a></li>

    </ul>
    <ul class="navbar-nav flex-row mt-2 mt-lg-0">
        <li class="nav-item socmedia"><a class="nav-link" href="https://www.youtube.com/channel/UCfkBAhVPsLislGB1-ocCIqg" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li class="nav-item socmedia"><a class="nav-link" href="https://soundcloud.com/user-678384227" target="_blank"><i class="fab fa-soundcloud"></i></a></li>
        <li class="nav-item socmedia"><a class="nav-link" href="https://www.facebook.com/DSakoyanPage" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    </ul>

      <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="text" value="{{ redirect_to }}">
          <select name="language" class="form-control" onchange="this.form.submit()">
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
              {% endfor %}
          </select>
      </form>

  </div>
</nav>

<!--Конец навигационной панели-->


    {% block page_content %}
    {% endblock %}

    {% block page_list %}
    {% endblock %}


<!-- Universal page footer-->
<footer class="pt-4">
    <div class="container pt-4 text-center text-md-left text-muted small"> <!-- Footer Menu-->

        <!-- Footer Upper-->
        <div class="row footer-row">

            <!-- Navigation -->
            <div class="col-md-3 mt-md-0 mt-3">
                <ul class="list-unstyled text-uppercase"><!-- Navigation links -->
                    <li><h5><a class="footer-menu" href="{% url 'works:home' %}">{% trans "Главная" %}</a></h5></li>
                    <li><h5><a class="footer-menu" href="{% url 'works:catalog' %}">{% trans "Каталог" %}</a></h5></li>
                    <li><h5><a class="footer-menu" href="{% url 'works:bio' %}">{% trans "Творчество" %}</a></h5></li>
                    <li><h5><a class="footer-menu" href="{% url 'works:about' %}">{% trans "О проекте" %}</a></h5></li>
                </ul>
            </div> <!-- /end col-->

            <!-- Copyright -->
            <div class="col-md-5 mt-md-0 mt-3">
                <h5 class="text-uppercase">{% trans "Условия использования" %}</h5>
                <a class="footer-menu" rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img id="cc-image" alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
                <br />{% trans "Материалы этого сайта доступны по лицензии " %}<a class="footer-menu" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a>.
                <p>{% trans "Материалы с других платформ (например, YouTube), транслируемые на сайт, могут иметь иные условия использования." %}</p>
                <p><a class="footer-menu" href="{% url 'works:about' %}#license">{% trans "Подробнее" %}</a></p>
            </div> <!-- /end col-->

            <!-- Contacts -->
            <div class="col-md-4 mt-md-0 mt-3">
                <h5 class="text-uppercase">{% trans "Контакты" %}</h5>
                <p>{% trans "Техническая поддержка: " %}<a class="footer-menu" href="mailto:support@davidsakoyan.com">support@davidsakoyan.com</a>
                <br/>{% trans "По иным вопросам: " %}<a class="footer-menu" href="mailto:info@davidsakoyan.com">info@davidsakoyan.com</a></p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="footer-menu" href="https://www.facebook.com/DSakoyanPage" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a class="footer-menu" href="https://www.youtube.com/channel/UCfkBAhVPsLislGB1-ocCIqg" target="_blank"><i class="fab fa-youtube"></i></a></li>
                </ul>
                <p><a class="footer-menu" href="{% url 'works:about' %}#contacts">{% trans "Подробнее" %}</a></p>

            </div> <!-- /end col-->

        </div> <!-- /end footer-row-->


    </div> <!-- /Footer Menu-->

            <!-- Footer Lower-->
        <div class="row-fluid footer-row cc-row text-muted small py-3 text-center">
            <div class="text-center">
                <a class="footer-menu" href="https://github.com/ansakoy">Ansakoy</a> <i class="fab fa-creative-commons"></i> 2019
            </div>
        </div><!-- /end footer-row-->
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'works/front.js' %}" type="text/javascript"></script>
</body>
</html>