{% extends 'works/base.html' %}
{% load i18n %}


{% block page_content %}
<div class="global-container container col-md-8">


<!-- Catalogue -->

<div class="container pt-4">
<h1 class="page-header">Каталог сочинений</h1>
</div>
<div class="container condition">
    <h3>{% block condition %}Найдено сочинений: {{ works.paginator.count }}{% endblock %}</h3>
    {% block search_term %}{% endblock %}
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-md-8 works-results">
            {% if works %}

            <!-- Works Table -->
            <table class="works-table">
                {% get_current_language as LANGUAGE_CODE %}

                <!-- Русский -->

                {% if LANGUAGE_CODE == 'ru' %}

                {% for opus in works %}
                    <tr>

                        <td>
                            {% if opus.performances.count %}
                                <a href="{% url 'works:opus' opus.pk %}" class="performance-marker"><i class="fas fa-music"></i></a>
                            {% endif %}
                        </td>

                        <td>
                            <div class="container opus">
                                <h3><a href="{% url 'works:opus' opus.pk %}" class="opus-title">{{ opus.title_ru }}</a></h3>
                                <h4 class="opus_subtitle">{{ opus.subtitle_ru }}</h4>
                                <p class="opus_year">{{ opus.year }}</p>
                            </div>
                        </td>

                    </tr>
                {% endfor %}
                {% endif %}

                <!-- /Русский -->
            </table>
            <!-- /Works Table -->
            {% else %}
            <h2>{% block no_works %}{% endblock %}</h2>
            {% endif %}
        </div>

        <!-- Search & Filter Tools -->
        <div class="container col-md-4 filter-panel">
            {% block filters %}
            {% endblock %}
        </div>
        <!-- /Search & Filter Tools -->
    </div>
</div>

{% endblock %}

{% block page_list %}


<!-- Pagination -->

<div class="container pb-5 pagination-footer">
    <div class="paginator-box">
        {% if works.paginator.num_pages > 1 %}
        <nav>
          <ul class="pagination mx-auto text-center">
              {% if works.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ works.previous_page_number }}" tabindex="-1">&laquo; </a>
                </li>
              {% else %}
              <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&laquo; </a>
                </li>
              {% endif %}

              {% for page_num in works.paginator.page_range %}
              {% if page_num == works.number %}
              <li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
              {% endif %}
              {% endfor %}

              {% if works.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ works.next_page_number }}"> &raquo;</a>
            </li>
              {% else %}
              <li class="page-item disabled">
              <a class="page-link" href="#"> &raquo;</a>
            </li>
              {% endif %}
          </ul>
        </nav>
        {% endif %}
    </div>
</div>

<!-- /Pagination -->

</div>
{% endblock %}