{% extends 'works/base.html' %}

{% load static %}

{% load i18n %}

{% block title %} {% trans "Давид Сакоян и его музыка: Творчество" %} {% endblock %}


{% block page_content %}

{% get_current_language as LANGUAGE_CODE %}


<!--MODAL FOR ARMENIAN-->
{% if LANGUAGE_CODE == 'hy' %}  <!--Если выбран армянский язык-->

<div class="container">  <!--Modal container-->
    <div class="row">  <!--row-->
        <div class="col-md-12">  <!--col-->
            <div class="modal fade" id="hy_modal">  <!--modal box-->
                <div class="modal-dialog modal-lg">  <!--modal-dialog-->
                    <div class="modal-content">  <!--modal-content-->
                        <div class="modal-header">  <!--modal-header-->
                            <h2>Որտե՞ղ է հայերեն:<br>Где армянский?<br>Where's Armenian?</h2>
                        </div>  <!--end modal-header-->
                        <div class="modal-body">  <!--modal-body-->
                            <p id="modal_ru">
                                К сожалению, у автора сайта пока не хватает знания армянского языка, чтобы перевести все разделы.
                                В настоящий момент армянская версия есть только у раздела "Каталог". Со временем будут переведены и другие.
                                Если вы готовы помочь с переводом и тем самым ускорить процесс, пожалуйста, напишите об этом на <a class="footer-menu" href="mailto:info@davidsakoyan.com">info@davidsakoyan.com</a>.
                            </p>
                            <p id="modal_en">
                                Unfortunately, the site creator's knowledge of Armenian is not yet sufficient for the translation of all the sections.
                                Only the Catalogue has an Armenian version at the moment. Gradually, all the rest is going to be translated as well.
                                If you can help here and speeden up the process, please contact me via <a class="footer-menu" href="mailto:info@davidsakoyan.com">info@davidsakoyan.com</a>.
                            </p>
                        </div> <!--end modal-body-->
                        <div class="modal-footer">  <!--modal-footer-->
                            <input class="btn btn-success" data-dismiss="modal" value="Դե լավ | Ладно | OK">
                        </div> <!--end modal-footer-->
                    </div><!--end modal-content-->
                </div>  <!--end modal-dialog-->
            </div>  <!--end modal box-->
            <a class="btn btn-danger" href="#" role="button" data-toggle="modal" data-target="#hy_modal">
                Որտե՞ղ է հայերեն: | Где армянский? | Where's Armenian?
            </a>
        </div>  <!--end col-->
    </div>  <!--end row-->
</div>  <!--End Modal container-->

{% endif %}  <!--Конец условия - Если выбран армянский язык-->

<!--<page_content>-->

<!--<global-container>-->
<div class="global-container container col-md-8 py-3">

    <!--<header-container>-->
    <div class="container pt-3 header-container">
        <h1>{% trans "Творчество" %}</h1>
    </div> <!--</header-container>-->

    <!--<grid-wrapper>-->
    <div class="container pb-3 grid-wrapper">

        <!--<bio-general-row>-->
        <div class="row page-section mt-4" id="bio-general">

            <div class="col-md-7 pt-3">
                <div class="paragraph-contents">
                    {{ general.text|safe }}
                </div>
            </div><!--<end-col>-->

            <div class="col-md-5 pt-3">
                <div class="paragraph-contents">
                    <img align="right" src='{% static "works/Sakoyan2.JPG" %}' width="250" alt="David Sakoyan">
                </div>
            </div><!--<end-col>-->

        </div> <!--</bio-general-row>-->

        <!--evolution-row>-->
        <div class="row page-section mt-4" id="bio-evolution">

            <div class="col-md-12 pt-3">
                <div class="paragraph-title">
                    <h4>{{ evolution.section_name|safe }}</h4>
                </div> <!--</paragraph-title>-->
                <div class="paragraph-contents">
                    {{ evolution.text|safe }}
                </div><!--</evolution-contents>-->
            </div><!--<end-col>-->

        </div> <!--</evolution-row>-->

        <!--<avant-row>-->
        <div class="row page-section mt-4" id="bio-avant">

            <div class="col-md-12 pt-3">
                <div class="paragraph-title">
                    <h4>{{ avant.section_name|safe }}</h4>
                </div> <!--</avant-title>-->
                <div class="paragraph-contents">
                    {{ avant.text|safe }}
                </div><!--</avant-contents>-->
            </div><!--<end-col>-->

        </div> <!--</avant-row>-->

        <!--<privacy-row>-->
        <div class="row page-section mt-4" id="bio-tradit">

            <div class="col-md-12 pt-3">
                <div class="paragraph-title">
                    <h4>{{ tradit.section_name|safe }}</h4>
                </div> <!--</tradit-title>-->
                <div class="paragraph-contents">
                    {{ tradit.text|safe }}
                </div><!--</tradit-contents>-->
            </div><!--<end-col>-->

        </div> <!--</tradit-row>-->
        <hr>

    </div> <!--</grid-wrapper>-->


</div> <!--</global-container>-->


<!--</page_content>-->


{% endblock %}