{% extends 'works/base.html' %}

{% load static %}

{% load i18n %}

{% block page_content %}

{% get_current_language as LANGUAGE_CODE %}

{% comment %}
<h2>{{ LANGUAGE_CODE }}</h2>
{% endcomment %}

<div class="global-container container col-md-8">
    <div class="container pt-4">
        <h1 class="page-header">{{ text_content.page_title }}</h1>
    </div>
    <img align="right" src='{% static "works/Sakoyan.jpg" %}' width="300" alt="David Sakoyan">
    <div class="col-md-12 content">
        {{ text_content.text|safe }}
    </div>
</div>
{% endblock %}