{% extends 'works/base.html' %}

{% load i18n %}

{% load static %}

{% block title %}
{% trans "Давид Сакоян и его музыка" %}
{% endblock %}

{% block page_content %}

<!--MODAL FOR ARMENIAN-->
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'hy' %}  <!--Если выбран армянский язык-->

<div class="container">  <!--Modal container-->
    <div class="row">  <!--row-->
        <div class="col-md-12">  <!--col-->
            <div class="modal fade" id="hy_modal">  <!--modal box-->
                <div class="modal-dialog modal-lg">  <!--modal-dialog-->
                    <div class="modal-content">  <!--modal-content-->
                        <div class="modal-header">  <!--modal-header-->
                            <h2>Որտե՞ղ է հայերեն:<br>Где армянский?<br>Where's Armenian?</h2>
                        </div>  <!--end modal-header-->
                        <div class="modal-body">  <!--modal-body-->
                            <p id="modal_ru">
                                К сожалению, у автора сайта пока не хватает знания армянского языка, чтобы перевести все разделы.
                                В настоящий момент армянская версия есть только у раздела "Каталог". Со временем будут переведены и другие.
                                Если вы готовы помочь с переводом и тем самым ускорить процесс, пожалуйста, напишите об этом на <a class="footer-menu" href="mailto:info@davidsakoyan.com">info@davidsakoyan.com</a>.
                            </p>
                            <p id="modal_en">
                                Unfortunately, the site creator's knowledge of Armenian is not yet sufficient for the translation of all the sections.
                                Only the Catalogue has an Armenian version at the moment. Gradually, all the rest is going to be translated as well.
                                If you can help here and speeden up the process, please contact me via <a class="footer-menu" href="mailto:info@davidsakoyan.com">info@davidsakoyan.com</a>.
                            </p>
                        </div> <!--end modal-body-->
                        <div class="modal-footer">  <!--modal-footer-->
                            <input class="btn btn-success" data-dismiss="modal" value="Դե լավ | Ладно | OK">
                        </div> <!--end modal-footer-->
                    </div><!--end modal-content-->
                </div>  <!--end modal-dialog-->
            </div>  <!--end modal box-->
            <a class="btn btn-danger" href="#" role="button" data-toggle="modal" data-target="#hy_modal">
                Որտե՞ղ է հայերեն: | Где армянский? | Where's Armenian?
            </a>
        </div>  <!--end col-->
    </div>  <!--end row-->
</div>  <!--End Modal container-->

{% endif %}  <!--Конец условия - Если выбран армянский язык-->

<!--<page_content>-->

<!--<global-container>-->
<div class="global-container container col-md-8 py-3">

    <!--<header-container>-->
    <div class="container pt-3 header-container">
        <h1>{{ text_content.page_title }}</h1>
    </div> <!--</header-container>-->

    <!--<grid-wrapper>-->
    <div class="container pt-3 grid-wrapper">

        <!--<intro-and-player-row>-->
        <div class="row intro-and-player">

            <!--<intro col>-->
            <div class="col-md-5 pt-3 intro-col">
                {{ text_content.text|safe }}
            </div><!--</intro-col>-->

            <!--<player-col>-->
            <div class="container col-md-7 player-col">

                <!--<embed>-->
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="vid_frame" src="https://www.youtube.com/embed/{{ current.video_url }}" frameborder="0"></iframe>
                    </div>
                </div> <!--</embed>-->

                {% if LANGUAGE_CODE == 'ru' %}

                <div class="recording-title py-2 px-3">  <!--<recording-title>-->
                    <a href="{% url 'works:opus' current.opus.pk %}" class="opus-title" id="current_desc">{{ current.opus.title_ru }}
                {{ current.opus.subtitle_ru }}
                    {% if current.name_ru %} - {{ current.name_ru }}{% endif %}</a>
                </div> <!--</recording-title>-->

                {% elif LANGUAGE_CODE == 'hy' %}

                <div class="recording-title py-2 px-3">  <!--<recording-title>-->
                    <a href="{% url 'works:opus' current.opus.pk %}" class="opus-title" id="current_desc">{{ current.opus.title_hy }}
                {{ current.opus.subtitle_hy }}
                    {% if current.name_hy %} - {{ current.name_hy }}{% endif %}</a>
                </div> <!--</recording-title>-->

                {% else %}

                <div class="recording-title py-2 px-3">  <!--<recording-title>-->
                    <a href="{% url 'works:opus' current.opus.pk %}" class="opus-title" id="current_desc">{{ current.opus.title_en }}
                {{ current.opus.subtitle_en }}
                    {% if current.name_en %} - {{ current.name_en }}{% endif %}</a>
                </div> <!--</recording-title>-->

                {% endif %}

            </div> <!--</player-col>-->

        </div> <!--</intro-and-player-row>-->


        {% if LANGUAGE_CODE == 'ru' %}

        <div class="row playlist">  <!--<playlist-row>-->
            <!--<playlist col>-->
            <div class="col-md-12 pt-3 playlist-col">
                <!--Плейлист-->
                <div id="carouselPlaylist" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row playlist">
                                {% for perform in all_perform.0 %}
                                <div
                                        class="col-sm thumb"
                                        onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/{{ perform.video_url }}?autoplay=1';
                                        document.getElementById('current_desc').textContent='{{ perform.opus.title_ru }} {{ perform.opus.subtitle_ru }}{% if perform.name_ru %} - {{ perform.name_ru }}{% endif %}';
                                        document.getElementById('current_desc').href='{% url 'works:opus' perform.opus.pk %}'">
                                    <img class="img-fluid mx-auto d-block" src="http://img.youtube.com/vi/{{ perform.video_url }}/0.jpg" alt="Image"/>
                                    <div class="desc">
                                        {{ perform.opus.title_ru }} {{ perform.opus.subtitle_ru }}{% if perform.name_ru %} - {{ perform.name_ru }}{% endif %}
                                    </div>
                                </div> <!--/col-->
                                {% endfor %}
                            </div> <!--/row-->
                        </div> <!--/active-->
                        {% for chunk in all_perform|slice:"1:" %}
                        <div class="carousel-item">
                            <div class="row playlist">
                                {% for perform in chunk %}
                                <div
                                        class="col-sm thumb"
                                        onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/{{ perform.video_url }}?autoplay=1';
                                                document.getElementById('current_desc').textContent='{{ perform.opus.title_ru }} {{ perform.opus.subtitle_ru }}{% if perform.name_ru %} - {{ perform.name_ru }}{% endif %}';
                                                document.getElementById('current_desc').href='{% url 'works:opus' perform.opus.pk %}'">
                                    <img class="img-fluid mx-auto d-block" src="http://img.youtube.com/vi/{{ perform.video_url }}/0.jpg" alt="Image"/>
                                    <div class="desc">
                                        {{ perform.opus.title_ru }} {{ perform.opus.subtitle_ru }}{% if perform.name_ru %} - {{ perform.name_ru }}{% endif %}
                                    </div>
                                </div> <!--/col-->
                                {% endfor %}
                            </div>
                        </div> <!--/item-->
                        {% endfor %}
                    </div> <!--/inner-->
                    <a class="carousel-control-prev" href="#carouselPlaylist" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left fa-lg text-muted"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next text-faded" href="#carouselPlaylist" role="button" data-slide="next">
                        <i class="fa fa-chevron-right fa-lg text-muted"></i>
                        <span class="sr-only">Next</span>
                    </a>

                </div> <!--конец плейлиста-->
            </div><!--</playlist-col>-->
        </div> <!--</playlist-row>-->

        {% elif LANGUAGE_CODE == 'hy' %}

        <div class="row playlist">  <!--<playlist-row>-->
            <!--<playlist col>-->
            <div class="col-md-12 pt-3 playlist-col">
                <!--Плейлист-->
                <div id="carouselPlaylist" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row playlist">
                                {% for perform in all_perform.0 %}
                                <div
                                        class="col-sm thumb"
                                        onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/{{ perform.video_url }}?autoplay=1';
                                        document.getElementById('current_desc').textContent='{{ perform.opus.title_ru }} {{ perform.opus.subtitle_hy }}{% if perform.name_hy %} - {{ perform.name_hy }}{% endif %}';
                                        document.getElementById('current_desc').href='{% url 'works:opus' perform.opus.pk %}'">
                                    <img class="img-fluid mx-auto d-block" src="http://img.youtube.com/vi/{{ perform.video_url }}/0.jpg" alt="Image"/>
                                    <div class="desc">
                                        {{ perform.opus.title_hy }} {{ perform.opus.subtitle_hy }}{% if perform.name_hy %} - {{ perform.name_hy }}{% endif %}
                                    </div>
                                </div> <!--/col-->
                                {% endfor %}
                            </div> <!--/row-->
                        </div> <!--/active-->
                        {% for chunk in all_perform|slice:"1:" %}
                        <div class="carousel-item">
                            <div class="row playlist">
                                {% for perform in chunk %}
                                <div
                                        class="col-sm thumb"
                                        onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/{{ perform.video_url }}?autoplay=1';
                                                document.getElementById('current_desc').textContent='{{ perform.opus.title_hy }} {{ perform.opus.subtitle_hy }}{% if perform.name_hy %} - {{ perform.name_hy }}{% endif %}';
                                                document.getElementById('current_desc').href='{% url 'works:opus' perform.opus.pk %}'">
                                    <img class="img-fluid mx-auto d-block" src="http://img.youtube.com/vi/{{ perform.video_url }}/0.jpg" alt="Image"/>
                                    <div class="desc">
                                        {{ perform.opus.title_hy }} {{ perform.opus.subtitle_hy }}{% if perform.name_hy %} - {{ perform.name_hy }}{% endif %}
                                    </div>
                                </div> <!--/col-->
                                {% endfor %}
                            </div>
                        </div> <!--/item-->
                        {% endfor %}
                    </div> <!--/inner-->
                    <a class="carousel-control-prev" href="#carouselPlaylist" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left fa-lg text-muted"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next text-faded" href="#carouselPlaylist" role="button" data-slide="next">
                        <i class="fa fa-chevron-right fa-lg text-muted"></i>
                        <span class="sr-only">Next</span>
                    </a>

                </div> <!--конец плейлиста-->
            </div><!--</playlist-col>-->
        </div> <!--</playlist-row>-->

        {% else %}

        <div class="row playlist">  <!--<playlist-row>-->
            <!--<playlist col>-->
            <div class="col-md-12 pt-3 playlist-col">
                <!--Плейлист-->
                <div id="carouselPlaylist" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row playlist">
                                {% for perform in all_perform.0 %}
                                <div
                                        class="col-sm thumb"
                                        onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/{{ perform.video_url }}?autoplay=1';
                                        document.getElementById('current_desc').textContent='{{ perform.opus.title_en }} {{ perform.opus.subtitle_en }}{% if perform.name_en %} - {{ perform.name_en }}{% endif %}';
                                        document.getElementById('current_desc').href='{% url 'works:opus' perform.opus.pk %}'">
                                    <img class="img-fluid mx-auto d-block" src="http://img.youtube.com/vi/{{ perform.video_url }}/0.jpg" alt="Image"/>
                                    <div class="desc">
                                        {{ perform.opus.title_en }} {{ perform.opus.subtitle_en }}{% if perform.name_en %} - {{ perform.name_en }}{% endif %}
                                    </div>
                                </div> <!--/col-->
                                {% endfor %}
                            </div> <!--/row-->
                        </div> <!--/active-->
                        {% for chunk in all_perform|slice:"1:" %}
                        <div class="carousel-item">
                            <div class="row playlist">
                                {% for perform in chunk %}
                                <div
                                        class="col-sm thumb"
                                        onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/{{ perform.video_url }}?autoplay=1';
                                                document.getElementById('current_desc').textContent='{{ perform.opus.title_en }} {{ perform.opus.subtitle_en }}{% if perform.name_en %} - {{ perform.name_en }}{% endif %}';
                                                document.getElementById('current_desc').href='{% url 'works:opus' perform.opus.pk %}'">
                                    <img class="img-fluid mx-auto d-block" src="http://img.youtube.com/vi/{{ perform.video_url }}/0.jpg" alt="Image"/>
                                    <div class="desc">
                                        {{ perform.opus.title_en }} {{ perform.opus.subtitle_en }}{% if perform.name_en %} - {{ perform.name_en }}{% endif %}
                                    </div>
                                </div> <!--/col-->
                                {% endfor %}
                            </div>
                        </div> <!--/item-->
                        {% endfor %}
                    </div> <!--/inner-->
                    <a class="carousel-control-prev" href="#carouselPlaylist" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left fa-lg text-muted"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next text-faded" href="#carouselPlaylist" role="button" data-slide="next">
                        <i class="fa fa-chevron-right fa-lg text-muted"></i>
                        <span class="sr-only">Next</span>
                    </a>

                </div> <!--конец плейлиста-->
            </div><!--</playlist-col>-->
        </div> <!--</playlist-row>-->

        {% endif %}

    </div> <!--</grid-wrapper>-->



</div> <!--</global-container>-->



<!--</page_content>-->

{% endblock %}