{% extends 'works/base.html' %}

{% load i18n %}

{% block page_content %}
{% get_current_language as LANGUAGE_CODE %}

<div class="container pt-5 mt-5">
    <div class="row">
        <div class="col-md-6 works-results">

            <div class="container opus">

                <!--Русский-->

                {% if LANGUAGE_CODE == 'ru' %}
                <h1 class="opus_title">{{ opus.title_ru }}</h1>
                <h2 class="opus_subtitle">{{ opus.subtitle_ru }}</h2>
                <p class="opus_year">{{ opus.year }}</p>
                {% if opus.libretto_by.count == 1 %}
                <p class="opus_libretto">Автор либретто: {{ opus.libretto_by.first.fname_ru }} {{ opus.libretto_by.first.lname_ru }}</p>
                {% elif opus.libretto_by.count > 1 %}
                 <ul>
                     <li>Авторы либретто:</li>
                    {% for entry in opus.libretto_by.all %}
                    <li>{{ entry.fname_ru }} {{ entry.lname_ru }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if opus.lyrics_by.count == 1 %}
                <p class="opus_lyrics">Автор текста: {{ opus.lyrics_by.first.fname_ru }} {{ opus.lyrics_by.first.lname_ru }}</p>
                {% elif opus.lyrics_by.count > 1 %}
                 <ul>
                     <li>Авторы текста:</li>
                    {% for entry in opus.lyrics_by.all %}
                    <li>{{ entry.fname_ru }} {{ entry.lname_ru }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <p class="opus_comment">{{ opus.comment_ru }}</p>
                <p class="opus_category"> Категория: {{ opus.genre.name_ru }}</p>
                <hr>
                Другие сочинения в этой категории:
                <ul>

                    {% for work in related_works %}
                    <li>
                        <a href="{% url 'works:opus' work.pk %}">{{ work.title_ru }} {{ work.subtitle_ru }}</a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
                <!--Армянский-->
            </div>
        </div>
            <hr>

        <!--Колонка для исполнений-->

        <div class="container col-md-6 filter-panel">
            <div class="performances">
                {% if opus.performances.count %}
                    {% for performance in opus.performances.all|dictsort:"pk" %}
                        <div>
                            {% if performance.name_ru %}<h2 class="performance-name">{{ performance.name_ru }}</h2>{% endif %}
                            {% if performance.video_url%}
                                <iframe width="500" height="281.25" src="https://www.youtube.com/embed/{{ performance.video_url }}" frameborder="0"></iframe>
                            {% endif %}
                            {% if performance.audio_url%}
                            <iframe width="500" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ performance.audio_url }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                            {% endif %}
                            {% if performance.perform_date%}
                                <p>{{ performance.perform_date }}</p>
                            {% endif %}
                            {% if performance.band %}
                                <p>{{ performance.band.type_ru }} {{ performance.band.name_ru }}</p>
                            {% endif %}
                            {% if performance.conductor %}
                                <p>Дирижер {{ performance.conductor.fname_ru }} {{ performance.conductor.lname_ru }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        </div>
    </div>
</div>
{% endblock %}