{% extends 'works/base.html' %}

{% load i18n %}


{% block title %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'ru' %}
Давид Сакоян и его музыка: {{ opus.title_ru }} {{ opus.subtitle_ru }}
{% elif LANGUAGE_CODE == 'hy' %}
Դավիթ Սաքոյան և նրա երաժշտություն: {{ opus.title_hy }} {{ opus.subtitle_hy }}
{% else %}
David Sakoyan and his music: {{ opus.title_en }} {{ opus.subtitle_en }}
{% endif %}
{% endblock %}

{% block page_content %}

{% get_current_language as LANGUAGE_CODE %}

<div class="global-container container col-md-8">
<div class="container pt-5">
    <!--Если opus exists-->
    {% if opus %}
    <!--Русский-->

    {% if LANGUAGE_CODE == 'ru' %}

    <div class="opus_header pb-5">
        <h1 class="opus_title">{{ opus.title_ru }}</h1>
        <h2 class="opus_subtitle">{{ opus.subtitle_ru }}</h2>
    </div>

    <div class="row">
        <div class="col-md-6 works-results">

            <div class="container opus">
                <p class="opus_year">{{ opus.year }}</p>
                {% if opus.libretto_by.count == 1 %}
                <p class="opus_libretto">Автор либретто: {{ opus.libretto_by.first.fname_ru }} {{ opus.libretto_by.first.lname_ru }}</p>
                {% elif opus.libretto_by.count > 1 %}
                 <ul>
                     <li>Авторы либретто:</li>
                    {% for entry in opus.libretto_by.all %}
                    <li>{{ entry.fname_ru }} {{ entry.lname_ru }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if opus.lyrics_by.count == 1 %}
                <p class="opus_lyrics">Автор текста: {{ opus.lyrics_by.first.fname_ru }} {{ opus.lyrics_by.first.lname_ru }}</p>
                {% elif opus.lyrics_by.count > 1 %}
                 <ul>
                     <li>Авторы текста:</li>
                    {% for entry in opus.lyrics_by.all %}
                    <li>{{ entry.fname_ru }} {{ entry.lname_ru }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <p class="opus_comment">{{ opus.comment_ru }}</p>
                <p class="opus_category"> Категория: {{ opus.genre.name_ru }}</p>
                <hr>
                <p>Другие сочинения в этой категории:</p>
                <ul class="other-works">

                    {% for work in related_works %}
                    <li>
                        <a href="{% url 'works:opus' work.pk %}">{{ work.title_ru }} - {{ work.subtitle_ru }}</a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
            <hr>

        <!--Колонка для исполнений-->

        <div class="container col-md-6 filter-panel">
            <div class="performances">
                {% if opus.performances.count %}
                    {% for performance in opus.performances.all|dictsort:"pk" %}
                        <div>
                            {% if performance.name_ru %}<h2 class="performance-name">{{ performance.name_ru }}</h2>{% endif %}
                            {% if performance.video_url%}
                                <iframe width="500" height="281.25" src="https://www.youtube.com/embed/{{ performance.video_url }}" frameborder="0"></iframe>
                            {% endif %}
                            {% if performance.perform_date%}
                                <p>{{ performance.perform_date }}</p>
                            {% endif %}
                            {% if performance.band %}
                                <p>{{ performance.band.type_ru }} {{ performance.band.name_ru }}</p>
                            {% endif %}
                            {% if performance.conductor %}
                                <p>Дирижер {{ performance.conductor.fname_ru }} {{ performance.conductor.lname_ru }}</p>
                            {% endif %}
                            {% if performance.performers.count %}
                                {% for performer in performance.performers.all %}
                                <p>{{ performer.role_ru }} - {{ performer.performer.fname_ru }} {{ performer.performer.lname_ru }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        </div>
    <!--Если opus does not exist-->
    {% else %}
    <div>Такого сочинения в каталоге нет</div>
    {% endif %}
    </div>
</div>

{% endblock %}