/* Navbar */

.navbar-brand:hover {
    opacity: 0.6;
}

/* Footer */
footer {
    background-color: #343a40;
}


#cc-image {
    opacity: 0.4;
}

#cc-image:hover {
    opacity: 0.8;
}

.cc-row {
    background-color: #24292d;
}


/* Footer links */
.footer-menu {
 color: #9DADBD;
}

.footer-menu:hover {
    color: #9DADBD;
    opacity: 0.6;
    text-decoration: none;
}

/* Catalogue links */
a {
    color: #3D7584;
}

a:hover {
    color: #3A4856;
    text-decoration: none;
}

/* Opus detail */
ul.other-works {
    list-style: none;
}

ul.other-works li::before {
    content: "\25AA";
    color: #3D7584;
    width: 1em;
    margin-left: -1em;
}


/* Catalogue filters */
.filter-tool {
    padding-top: 1em;
}

/* Playlist */

.thumb {
    padding: 10px;
    color: gray;
}

.thumb:hover {
    background-color: #d6d6d6;
    cursor: pointer;
    color: black;
}

.playlist {
  padding: 10px;
  height: 200pt;
}


.desc {
    font-size: 10pt;
}

.carousel-control-prev {
    left: -10%;
    top: -30%;
}

.carousel-control-next {
    right: -10%;
    top: -30%;
}

/* Pagination */

.pagination {
    display: flex;
    padding-left: 0px;
    list-style: none;
    justify-content: center;
}

.paginator-box .pagination>li.active>a {
  background: #3B5367;
  border: 1px solid #3B5367;
  color: #fff !important;
}

.page-link {
    color: #3B5367!important;
}