.navbar-brand:hover {
    opacity: 0.6;
}


.thumb {
    padding: 10px;
    color: gray;
}

.thumb:hover {
    background-color: #d6d6d6;
    cursor: pointer;
    color: black;
}

.playlist {
  padding: 10px;
  height: 200pt;
}


.desc {
    font-size: 10pt;
}

.carousel-control-prev {
    left: -10%;
    top: -30%;
}

.carousel-control-next {
    right: -10%;
    top: -30%;
}